*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(140, 216, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    padding-top: 17vmin;
    font-size: 8vmin;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    padding-top: 6vh;
}

section{
    display: grid;
    padding-top: 5vmh;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    gap: 4vmin;
} 

/* .card{
    position: relative;
}

.face
.back{
    width: 100%;
    height: 100%;
    position: absolute; */
/* } */

button{
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid purple;
    color: purple;
}
  
button:hover {
    color: white;
    background-color: darkgray;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: grid;
  /* padding-top: 5vmh; */
  /* grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  gap: 4vmin; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
  


